/.idea
/data/
/vendor
/var
.env
.php_cs.cache
.phpunit.result.cache
app/bin/phpdoc
app/bin/.phpunit
app/bin/phpunit
app/.phpdoc
.docker
app/.phpdoc
app/docs
app/config
app/wyniki
app/.env.test
app/.php_cs.dist
app/phpcs.xml.dist
app/phpunit.xml.dist
app/symfony.lock
build-env.ps1
build-env.sh
